@tailwind base;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-header;
  letter-spacing: 1px;
  color: theme("colors.primary.600");
}

body {
  @apply font-body;
  @apply text-base;
}

.children-block > * {
  display: block !important;
}

@tailwind components;

@tailwind utilities;
