@tailwind base;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-header;
  letter-spacing: 1px;
  color: theme("colors.primary.600");
}

body {
  @apply font-body;
  @apply text-base;
}

a {
  @apply underline;
  @apply transition;
  @apply duration-300;
}

a:hover {
  @apply text-secondary-300;
}

@tailwind components;

@tailwind utilities;

.children-block > * {
  display: block !important;
}

.flex-basis-0 {
  flex-basis: 0;
}
